.BaseFileUploaderHeader {
  border: var(--base-border-variant);
  border-bottom: 3px solid var(--outline-color-variant);
  padding: var(--base-size-20);
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}